<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kolejka Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
        background-color: #3e3e3e;
        color: white;
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Kolejka Online</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/for-you">Dla kolejkowiczow</a></li>
            <li><a href="/for-your-business">Dla firm</a></li>
            <li><a href="/queues">Znajdz kolejke</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/newclient"><span class="glyphicon glyphicon-user"></span> Załóż konto</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
            <li>
                <form action="#" th:action="@{/logout}" method="post">
                    <span class="glyphicon glyphicon-user"></span>
                    <input type="submit" value="Wyloguj" />
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <table class ="table">
        <thead>
        <tr>
            <td> ID KLIENTA</td>
            <td th:text ="${client.id}"></td>
        </tr>
        <tr>
            <td> Login</td>
            <td th:text = "${client.login}"></td>
        </tr>
        <tr>
            <td> Hasło</td>
            <td th:text = "${client.password}"></td>
        </tr>
        <tr>
            <td> Stan konta</td>
            <td th:text = "${client.balance}"></td>
        </tr>
        <tr>
            <td> Imie </td>
            <td th:text = "${client.name}"></td>
        </tr>
        <tr>
            <td> Nazwisko</td>
            <td th:text = "${client.surname}"></td>
        </tr>
        <tr>
            <td> Email</td>
            <td th:text = "${client.email}"></td>
        </tr>
        </thead>
    </table>

    <div class = "row">
        <a href="/clients"> Powrot do listy klientow </a>
    </div>
    <div class = "row">
        <a href="/checkout">Doładuj konto </a>
    </div>
</div>
</body>
</html>