<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kolejka Online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
        background-color: #3e3e3e;
        color: white;
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Kolejka Online</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/for-you">Dla kolejkowiczow</a></li>
            <li><a href="/for-your-business">Dla firm</a></li>
            <li><a href="/companies">Znajdz kolejke</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/newclient"><span class="glyphicon glyphicon-user"></span> Załóż konto</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <table class ="table">
        <thead>
        <tr>
            <td>ID klienta</td>
            <td>Login klienta</td> <!-- Nazwa 1 kolumny -->
            <td>Imie klienta</td>
            <td>Numer w kolejce</td>
            <td></td>
            <td></td>

        </tr>
        </thead>
        <tbody th:each=" Client_QueueDTO : ${queue}"> <!-- ${ atrybut z kontrolera} -->
        <tr>
            <td th:text="${Client_QueueDTO.clientID}"></td>
            <td th:text="${Client_QueueDTO.login}"></td>
            <td th:text="${Client_QueueDTO.name}"></td>
            <td th:text="${Client_QueueDTO.cNumber}"></td>

        </tr>
        </tbody>
    </table>
    <div class = "row">
        <a href="/queues"> Wróć do listy kolejek </a>
    </div>
</div>
</body>
</html>